<table class='options table table-bordered table-striped'>
  {{#each this}}
  <tr>
    <td class="{{name}}" id="{{name}}">
      <a href="#{{name}}">{{name}}</a>
    </td>
    <td class="desc">
      {{#if deprecationReason}}
      <div class="deprecation-msg">
        <strong>Warning</strong> This option has been deprecated and will be
        removed in the next major release of JSHint.
        {{{markdown deprecationReason}}}
      </div>
      {{/if}}
      {{{ description.full }}}
    </td>
  </tr>
  {{/each}}
</table>
