a {
  color: #d44950;
}

a.anchor {
  color: inherit;
}

.header {
  background-color: #E6E2D9;
  font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.sideimage {
  margin: 20px 0 20px 0;
}

.content {
  font-family: Sans-Serif;
  font-size: 110%;
  margin-bottom: 50px;
  padding: 0 15px;
}

.content h1, .content h2, .content h3, .content h4 {
  font-family: Sans-Serif;
  font-weight: normal;
}

.content h1 {
  margin-bottom: 30px;
}

.blog-list {
  margin-top: 30px;
}

.blog-list td {
  padding-bottom: 10px;
}

.blog-list .meta {
  font-size: 80%;
  text-align: right;
  color: #999;
}

.blog-list .link {
  padding-left: 20px;
}

.deprecation-msg {
  margin-bottom: 1em;
}

.deprecation-msg strong {
  font-weight: bold;
}

.deprecation-msg p {
  display: inline;
  margin: 0;
}
