html, body {
  height: 100%;
  background-color: #1d1e1c;
  font-family: Sans-Serif;
}

button {
  font-family: Sans-Serif;
  background-color: transparent;
  border: none;
  color: #aaa;
  padding: 0;
}

button:hover {
  text-decoration: none;
}

.sidebar {
  z-index: 100;
  opacity: 0.7;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 170px;
  background-color: #2E2E2D;
  padding: 10px;
}

.sidebar .wrapper {
  text-align: left;
}

.sidebar h1 {
  font-family: Sans-Serif;
  font-weight: normal;
  color: #aaa;
  margin: 0;
}

.sidebar h1 img {
  width: 150px;
}

.sidebar ul {
  margin: 20px 0 0 0;
  padding: 0;
  font-size: 90%;
  font-family: Sans-Serif;
}

.sidebar li {
  margin: 5px;
  list-style-type: none;
}

.sidebar li a {
  color: #aaa;
}

.sidebar li a:hover {
  text-decoration: none;
}

.sidebar li a:hover:after {
  content: ">";
  margin-left: 10px;
}

.whiteboard {
  text-align: left;
  position: fixed;
  top: 0;
  bottom: 20px;
  left: 640px;
  width: 350px;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: visible;
  color: #aaa;
}

.whiteboard h4 {
  font-size: 120%;
  margin-bottom: 10px;
  color: #666;
  font-weight: normal;
  font-family: Sans-Serif;
}

.whiteboard .toolbar {
  margin-bottom: 20px;
}

.whiteboard .toolbar button {
  font-size: 80%;
  text-transform: uppercase;
}

.whiteboard .toolbar .version {
  margin-left: 10px;
  font-size: 80%;
  text-transform: uppercase;
  color: #333;
}

.whiteboard .report {
  font-size: 90%;
  margin-bottom: 20px;
}

.whiteboard .report p {
  margin-bottom: 3px;
}

.whiteboard .report p b {
  color: #9ac;
  font-weight: normal;
}

.whiteboard .report td {
  vertical-align: top;
  padding-bottom: 5px;
}

.whiteboard .report td.header {
  font-size: 120%;
  margin-bottom: 10px;
  color: #666;
}

.whiteboard .report td.lineno {
  width: 20px;
  padding-right: 10px;
  color: #666;
  text-align: right;
}

.whiteboard button {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

  color: #666;
}

.whiteboard button.active {
  color: #9ac;
}

.whiteboard #configure {
  display: none;
  font-family: Sans-Serif;
}

.whiteboard #configure > div {
  margin-bottom: 20px;
}

.whiteboard #configure h4 {
  font-family: Sans-Serif;
  font-size: 110%;
  color: #666;
  font-weight: normal;
  margin-bottom: 10px;
}

.whiteboard #configure button {
  display: block;
  background-color: transparent;
  color: inherit;
  border: none;
  margin-bottom: 5px;
  font-size: 90%;
  text-align: left;
}

.whiteboard #configure button:before {
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;

  content: "\2713";
  margin-right: 10px;
  color: #444;
}

.whiteboard #configure button.active:before {
  color: #9ac;
}

.CodeMirror {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 80%;
  background: #1d1e1c;
  font-family: monaco, monospace;
  height: auto;
  width: 600px;
}

.CodeMirror-scroll {
  color: #ffffea;
  line-height: 1.2;
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-gutters {
  border: none !important;
  background-color: #1d1e1c !important;
  padding-right: 15px;
}

.cm-s-default { background: var(bg); color:var(fg); }
.cm-s-default span.cm-bracket {color: #aaa;}
.cm-s-default span.cm-bracket1 {color: #aaa; }
.cm-s-default span.cm-bracket2 {color: #0f0;}
.cm-s-default span.cm-bracket3 {color: #00ff7f;}
.cm-s-default span.cm-bracket4 {color: #00ffff;}
.cm-s-default span.cm-bracket5 {color: #836FFF;}
.cm-s-default span.cm-bracket6 {color: #FF00FF;}
.cm-s-default span.cm-bracket7 {color: #9B30FF;}
.cm-s-default span.cm-bracket8 {color: #00ff7f;}
.cm-s-default span.cm-bracket9 {color: #00ffff;}
.cm-s-default span.cm-bracket10 {color: #836FFF;}
.cm-s-default span.cm-bracket11 {color: #FF00FF;}
.cm-s-default span.cm-bracket12 {color: #9B30FF;}
.cm-s-default span.cm-bracket0, .cm-s-default span.cm-bracket-mismatched { color:#f88; background:#733; }

.cm-s-default span.cm-symbol {color: #ccc;}
.cm-s-default span.cm-variable {color: #ccc;}
.cm-s-default span.cm-variable-2 {color: #acf}
.cm-s-default span.cm-string {color: #add}
.cm-s-default span.cm-string-2 {color: #add;}
.cm-s-default span.cm-number {color: #ccc;}
.cm-s-default span.cm-def {color:#acf;}
.cm-s-default span.cm-builtin {color: #aec;}
.cm-s-default span.cm-header {color: #aec;}
.cm-s-default span.cm-property {color: #aaa; }
.cm-s-default span.cm-operator {color: #aaa; }
.cm-s-default span.cm-keyword {color: #aec; }
.cm-s-default span.cm-qualifier {color: #aec; }
.cm-s-default span.cm-attribute {color: #aec; }
.cm-s-default span.cm-meta {color: #aec; }
.cm-s-default span.cm-atom { color: #caf; }
.cm-s-default span.cm-tag {color: #acf;}
.cm-s-default span.cm-comment { color:#9ac; }
.cm-s-default span.CodeMirror-searching { background: #aaa; color:black; }
.cm-s-default span.CodeMirror-searching-active { background: #afa; color:black; }

.cm-s-default .CodeMirror-selected { background: #555; }
.cm-s-default .CodeMirror-focused .CodeMirror-selected { background: #444; }

.cm-s-default .CodeMirror-activeline { background:#303030; }
.cm-s-default span.CodeMirror-matchingbracket {box-sizing:border-box; background:transparent; border-bottom:1px solid #3FF; font-weight:normal;}
.cm-s-default span.CodeMirror-nonmatchingbracket {color: #F33; border-bottom:1px solid #F33; background:none;}

.cm-s-default .cm-searching { background:#5f5f5f; border-radius:2px; color:#eee !important; }
.cm-s-default .searching-current { background:#13879C; color:#BFFCFF !important; }

.CodeMirror div.CodeMirror-cursor { border-left: 1px solid white; }

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor { border-left: 1px solid silver; }
.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor { width: auto; border: none !important; background: rgba(0, 200, 200, .4); }

.CodeMirror-gutters { background: var(bg); }
.cm-s-default .CodeMirror-activeline .CodeMirror-linenumber { background:#474a4f; color:#888; }

.CodeMirror-hints { position: absolute; z-index: 1000000000000000; overflow: hidden; list-style: none;  margin: 0; padding: 2px;  border-radius: 2px; border: 1px solid var(pane-bg);  background: var(pane-bg); font-size: 90%; font-family: inherit;  max-height: 20em; }
.CodeMirror-hints ul { overflow-y:auto; max-height:20em; }
.CodeMirror-hints ul li { margin: 0; padding: 0 4px; border-radius: 2px; max-width: 60em; overflow: hidden; white-space: pre; color: #ccc; cursor: pointer; }
.CodeMirror-hints input { display:none; }
.CodeMirror-hints .selected { background: var(highlight-bg); color: var(highlight-fg); }
.CodeMirror-hints ul::-webkit-scrollbar-thumb { background: var(pane-scrollbar); border-color: var(pane-scrollbar); }
