<!doctype html>

<html lang=en>
  <head>
    <title>{{page.title}}</title>

    <meta charset=utf8>
    <meta name=description content="JSHint, a JavaScript Code Quality Tool">
    <meta name=author      content="{{ page.author }}">

    {{#if page.redirect}}
    <meta http-equiv=refresh content="0; url={{page.redirect}}">
    {{/if}}

    {{#if site.dev}}
    <link rel=stylesheet href="/res/bootstrap.css">
    <link rel=stylesheet href="/res/docs.css">
    {{else}}
    <link rel=stylesheet href="/res/docs.min.css">
    {{/if}}

    <script>
      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-126146-15"]);
      _gaq.push(["_setDomainName", "jshint.com"]);
      _gaq.push(["_trackPageview"]);
    </script>
  </head>

  <body>
    {{>header}}

    <div class="container content">
      <div class="row">
        <div class="col-md-8">
          <h1 class="blog-title">{{ page.title }}</h1>

          <span class="blog-byline">
            <span class="blog-author">{{ page.author }}</span>
            <span class="blog-date">{{ date page.date 'MMM Do, YYYY' }}</span>
          </span>

          {{ content }}
        </div>
      </div>
    </div>

    <script>
      (function () {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src = "//www.google-analytics.com/ga.js";

        var st = document.getElementsByTagName("script")[0];
        st.parentNode.insertBefore(ga, st);
      })();
    </script>
  </body>
</html>
