<!doctype html>

<html lang=en>
  <head>
  	<title>About JSHint, a JavaScript Code Quality Tool</title>

  	<meta charset=utf8>
  	<meta name=description content="JSHint, a JavaScript Code Quality Tool">
  	<meta name=author      content="Anton Kovalyov">

  	<link rel=stylesheet href="/res/bootstrap.css">
    <link rel=stylesheet href="/res/docs.css">

  	<script type="text/javascript" src="//use.typekit.net/pxl3iqm.js"></script>
  	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>

  <body>
    <nav class="header navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/docs/">Docs</a></li>
          <li><a href="/install/">Install</a></li>
          <li><a href="/hack/">Hack</a></li>
          <li><a href="/blog/">Blog</a></li>
        </ul>
      </div>
    </nav>

    <div class="container content">
      <div class="row">
        <div class="col-md-8">
          {{ content }}
        </div>

        <div class="col-md-4">
          <div class="ad">
            <div id="carbonads-container">
              <div class="carbonad">
                <div id="azcarbon"></div>
                <script type="text/javascript">
                  var z = document.createElement("script");
                  z.type = "text/javascript";
                  z.async = true;
                  z.src = "http://engine.carbonads.com/z/49189/azcarbon_2_1_0_VERT";
                  var s = document.getElementsByTagName("script")[0];
                  s.parentNode.insertBefore(z, s);
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
