<!doctype html>

<html lang=en>
  <head>
    <title>{{page.title}}</title>

    <meta charset=utf8>
    <meta name=description content="JSHint, a JavaScript Code Quality Tool">
    <meta name=author      content="Anton Kovalyov">

    {{#if site.dev}}
    <link rel=stylesheet href="/res/bootstrap.css">
    <link rel=stylesheet href="/res/docs.css">
    {{else}}
    <link rel=stylesheet href="/res/docs.min.css">
    {{/if}}

    <script>
      if (window.self !== window.top)
        window.top.location.href = document.location.href;

      function jumpToOption() {
        var input = document.getElementById("jump-to-option")

        if (/^\s*$/.test(input.value))
          return false

        _gaq.push(["_trackEvent", "Docs", "jumpToOption", input.value]);

        if (window.location.pathname === "/docs/options/")
          window.location.hash = "#" + input.value
        else
          window.location = "/docs/options/#" + input.value

        return false
      }

      var _gaq = _gaq || [];
      _gaq.push(["_setAccount", "UA-126146-15"]);
      _gaq.push(["_setDomainName", "jshint.com"]);
      _gaq.push(["_trackPageview"]);
    </script>
  </head>

  <body>
    <nav class="header navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">JSHint</a>
            </div>

            <ul class="nav navbar-nav">
              <li><a href="/about/">About</a></li>
              <li><a href="/docs/">Docs</a></li>
              <li><a href="/install/">Install</a></li>
              <li><a href="/contribute/">Contribute</a></li>
              <li><a href="/blog/">Blog</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <form class="navbar-form navbar-left" role="search" onsubmit="return jumpToOption()">
              <div class="form-group">
                <input id="jump-to-option" type="text" class="form-control" placeholder="Option name">
              </div>
              <button type="submit" class="btn btn-default">Jump to docs</button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <div class="container content">
      <div class="row">
        <div class="col-md-8">
          {{ content }}
        </div>

        <div class="col-md-4">
          {{#if page.sideimage}}
          <img class="sideimage" src="/res/{{ page.sideimage }}">
          {{/if}}

          {{#unless page.noad}}
          <div class="ad">
            <div id="carbonads-container">
              <div class="carbonad">
                <div id="azcarbon"></div>
                <script type="text/javascript">
                  var z = document.createElement("script");
                  z.type = "text/javascript";
                  z.async = true;
                  z.src = "http://engine.carbonads.com/z/49189/azcarbon_2_1_0_HORIZ";
                  var s = document.getElementsByTagName("script")[0];
                  s.parentNode.insertBefore(z, s);
                </script>
              </div>
            </div>
          </div>
          {{/unless}}
        </div>
      </div>
    </div>

    <script>
      (function () {
        var ga = document.createElement("script");
        ga.type = "text/javascript";
        ga.async = true;
        ga.src = "//www.google-analytics.com/ga.js";

        var st = document.getElementsByTagName("script")[0];
        st.parentNode.insertBefore(ga, st);
      })();
    </script>
  </body>
</html>
